body {
	overflow: hidden;
}

.content-wrap {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

	&--960 {
		max-width: 960px;
	}

	&--940 {
		max-width: 940px;
	}

	&--narrow {
		max-width: 600px;
	}
}

main {
	padding: 0 20px 15px;
}