<a class="product-thumb__link" href="#">
	<div class="product-thumb__info">
		<img class="product-thumb__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" height="180" alt="{{ ::vm.product.name }}" />
		<h3 class="product-thumb__name md-body-1" ng-bind="::vm.product.name"></h3>
	</div>
	<div class="product-thumb__actions">
		<span class="product-thumb__price md-body-2" price product="vm.product"></span>
		<md-button class="md-icon-button" aria-label="Add {{ ::vm.product.name }} to basket">
			<md-icon md-svg-src="assets/images/icons/cart-add.svg"></md-icon>
		</md-button>
	</div>
</a>
