<md-button class="md-icon-button product-thumb__edit" ng-href="products/{{ ::vm.linkId }}/" aria-label="Edit {{ ::vm.product.name }}" ng-if="::vm.linkId">
	<md-icon md-svg-src="assets/images/icons/edit.svg"></md-icon>
</md-button>
<a class="product-thumb__link" ng-href="{{ ::vm.linkId ? 'products/'+ vm.linkId + '/' : '#' }}">
	<div class="product-thumb__info">
		<img class="product-thumb__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" height="180" alt="{{ ::vm.product.name }}" />
		<div class="product-thumb__title">
			<h3 class="product-thumb__name md-body-1" ng-bind="::vm.product.name"></h3>
			<div class="product-thumb__sizing" ng-show="::vm.product.pack_size || vm.product.unit_size"><!--
			/--><span ng-show="::vm.product.pack_size" ng-bind="::vm.product.pack_size"></span><!--
			/--><span class="product-thumb__sizing__multiples" ng-show="::vm.product.pack_size && vm.product.unit_size">&times;</span><!--
			/--><span ng-show="::vm.product.unit_size" ng-bind="::vm.product.unit_size"></span><!--
		/--></div>
		</div>
	</div>
	<div class="product-thumb__actions">
		<span class="product-thumb__price md-body-2" price product="vm.product"></span>
		<md-button ng-if="::vm.product.in_stock !== false" class="md-icon-button" aria-label="Add {{ ::vm.product.name }} to basket">
			<md-icon md-svg-src="assets/images/icons/cart-add.svg"></md-icon>
		</md-button>
		<md-icon ng-if="::vm.product.in_stock === false" class="product-thumb__stock md-warn md-hue-3" md-svg-src="assets/images/icons/error-outline.svg">
			<md-tooltip>Out of stock</md-tooltip>
		</md-icon>
	</div>
</a>
