<!doctype html>
<html lang="en-GB" ng-app="app" ng-strict-di>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Orderable by Big Wednesday IO</title>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />

		<base id="base" href="/" />

		<script>
			var fileBase = '/';
			window.isApp = !document.URL.match(/^https?:\//);

			if (window.isApp) {
				fileBase = document.URL.replace(/.+:\/+(.+)/, function(match, $1) {
					return '/' + $1;
				});
			}

			document.getElementById('base').setAttribute('href', fileBase);
		</script>

		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="favicon" href="favicon.ico" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- build:css assets/css/site.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="assets/vendor/angular-material/angular-material.css" />
		<!-- endbower -->
		<link rel="stylesheet" href="assets/css/app.css" />
		<!-- endbuild -->

		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">

		<script src="phonegap.js"></script>
	</head>
	<body class="layout-column">
		<div class="event-wrapper flex layout-column">
			<loading-indicator></loading-indicator>
			<md-content class="content-body flex" ui-view scroll-on-state-change></md-content>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" ng-cloak>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<md-button toggle-menu class="md-icon-button" aria-label="Close">
							<md-icon md-svg-src="assets/images/icons/close.svg"></md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-list>
					<md-list-item ng-click="products">
						<md-icon md-svg-src="assets/images/icons/tag-multiple.svg"></md-icon>
						<span class="flex">Products</span>
					</md-list-item>
					<md-list-item ng-click="orders">
						<md-icon md-svg-src="assets/images/icons/assignment-turned-in.svg"></md-icon>
						<span class="flex">Orders</span>
					</md-list-item>
					<md-list-item ng-click="account">
						<md-icon md-svg-src="assets/images/icons/person.svg"></md-icon>
						<span class="flex">Account</span>
					</md-list-item>
				</md-list>
			</md-sidenav>
		</div>


		<!-- build:js assets/js/site.js -->
		<!-- bower:js -->
		<script src="assets/vendor/angular/angular.js"></script>
		<script src="assets/vendor/angular-animate/angular-animate.js"></script>
		<script src="assets/vendor/angular-aria/angular-aria.js"></script>
		<script src="assets/vendor/angular-material/angular-material.js"></script>
		<script src="assets/vendor/angular-mocks/angular-mocks.js"></script>
		<script src="assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="assets/vendor/lodash/lodash.js"></script>
		<script src="assets/vendor/Element.closest/closest.js"></script>
		<script src="assets/vendor/angular-digest-hud/digest-hud.js"></script>
		<!-- endbower -->
		<script src="assets/js/app.js"></script>
		<!-- endbuild -->
	</body>
</html>