$transition: .2s ease-out;

$divider-color: rgba(0, 0, 0, .12);
$divider: 1px solid $divider-color;

$md-primary: rgb(67,160,71);
$md-primary-text: white;

$md-accent: rgb(238, 238, 238);
$md-accent-text: rgba(0, 0, 0, .87);

$md-warn: #E53935;
$md-warn-text: white;

$bp-medium: 37.5em;
$bp-large: 60em;