.price {
	&--now {
		color: $md-primary;
		margin-right: 8px;
	}

	&--was {
		text-decoration: line-through;
		font-weight: 400;
	}
}

.price-fields {
	&__labels {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}
