.product-thumb {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	max-width: 240px;

	& + & {
		border-top: $divider;
	}

	&__edit {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0 !important;
	}

	&__link {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 24px 16px 16px;
		color: inherit;
		border: 0 none;
	}

	&__link,
	&__info {
		flex-grow: 1;
	}

	&__image {
		height: auto;
		max-height: 180px;
		max-width: 100%;
		margin: 0 auto;
	}

	&__title {
		margin: 16px 0 2px;
	}

	&__name {
		display: inline;
		margin: 0;

		&:hover {
			text-decoration: underline;
		}
	}

	&__sizing {
		display: inline-block;
		color: rgba(0, 0, 0, .54);

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}

		&__multiples {
			padding: 0 .2em;
		}
	}

	&__name,
	&__price,
	&__sizing {
		line-height: 18px;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 48px;
		margin-right: -16px;

		.md-button {
			flex-shrink: 0;
		}
	}

	&__price {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
		font-weight: 600;
	}

	&__quantity-wrapper {
		margin-bottom: 4px;
	}

	&__quantity {
		font-size: 18px;
	}

	&:hover .md-button md-icon {
		color: $md-primary;
	}
}

.products {
	display: flex;
	flex-flow: row wrap;

	.product-thumb {
		display: inline-flex;
		width: 100%;
		border: $divider;
		border-width: 0 1px 1px 0;
		max-width: none;

		@media (min-width: 360px) {
			width: 50%;
		}

		@media (min-width: 480px) {
			width: (100%/3);
		}

		@media (min-width: 900px) {
			width: 25%;
		}

		&__link {
			padding: 20px 20px 10px;
		}
	}
}
