<header>
	<div class="content-wrap">
		<div class="layout-row">
			<md-button toggle-menu class="md-icon-button hide-gt-md" aria-label="Menu">
				<md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
			</md-button>
			<h1 class="md-headline">Account</h1>
		</div>
	</div>
</header>
<main>
	<div class="content-wrap layout-column">
		<div class="md-whiteframe md-whiteframe-z1 content-block">
			<h2 class="md-caption" style="margin-top: 0">Payment methods</h2>
			<ul class="unstyled-list">
				<li class="layout-column" ng-repeat="method in ::vm.paymentMethods track by method.id">
					<md-button class="md-no-style payment-method" ng-href="account/payment-methods/{{ ::method.id }}/" aria-label="{{ ::method.name }}">
						<div class="layout-row layout-align-start-center">
							<md-icon md-svg-src="assets/images/icons/{{ ::method.icon }}.svg" class="disc-icon payment-method__icon" ng-class="{'disc-icon--disabled': !method.enabled}"></md-icon>
							<div class="payment-method__text flex">
								<h3 class="md-subhead payment-method__name" ng-bind="method.name"></h3>
								<p class="payment-method__status" ng-class="{'payment-method__status--disabled': !method.enabled}">
									<span ng-bind="method.enabled ? 'Enabled' : 'Disabled'"></span>
								</p>
							</div>
							<md-icon md-svg-src="assets/images/icons/chevron-right.svg" class="payment-method__arrow"></md-icon>
						</div>
					</md-button>
				</li>
			</ul>
		</div>
		<div class="md-whiteframe md-whiteframe-z1 content-block">
			<md-button class="md-icon-button" style="float: right; margin: 0" ng-href="account/about/" aria-label="Edit"><md-icon md-svg-src="assets/images/icons/edit.svg"></md-icon></md-button>
			<h2 class="md-caption" style="margin-top: 0">About your business</h2>
			<p>Lorem ipsum dolor sit amet consectus...</p>
			<ul class="unstyled-list">
				<li ng-repeat="external in ::vm.externals track by external.attribute" style="padding: 8px 0;">
					<md-icon md-svg-src="assets/images/icons/{{ ::external.icon }}.svg" class="disc-icon" ng-class="{'disc-icon--disabled': !vm.supplier[external.attribute]}" style="margin: 0 8px 0 0;"></md-icon>
					<span class="weak" ng-if="::external.prefix" ng-bind="::external.prefix"></span><span ng-bind="vm.supplier[external.attribute]"></span>
				</li>
			</ul>
		</div>
		<!-- <div class="md-whiteframe md-whiteframe-z1 content-block">
			<h2 class="md-caption" style="margin-top: 0">Loyalty Scheme</h2>
			<p>Not set up</p>
		</div> -->
	</div>
</main>