<header>
	<div class="content-wrap">
		<div class="layout-row">
			<md-button class="md-icon-button" aria-label="Back" browser-back>
				<md-icon md-svg-src="assets/images/icons/arrow-back.svg"></md-icon>
			</md-button>
			<h1 class="md-headline">Delivery options</h1>
		</div>
	</div>
</header>
<main>
	<form name="vm.deliveryForm" class="content-wrap layout-column" ng-submit="vm.updateDeliveryOptions()">
		<section class="form-row md-whiteframe md-whiteframe-z1" style="padding: 12px">
			<h2 class="md-subhead" style="margin: 4px 0">Do you charge for delivery?</h2>
			<md-radio-group ng-model="vm.chargeForDelivery">
				<md-radio-button class="md-primary" ng-value="true"><strong>Yes</strong>, we charge</md-radio-button>
				<md-radio-button class="md-primary" ng-value="false"><strong>No</strong>, we don't</md-radio-button>
			</md-radio-group>
			<div class="layout-column" ng-show="vm.chargeForDelivery">
				<h2 class="md-subhead" style="margin: 4px 0">How much?</h2>

				<div class="price-input flex">
					<span class="price-input__symbol">&pound;</span>
					<input class="price-input__field no-focus" type="tel" ng-model="vm.deliveryCharge" ng-blur="vm.formatDeliveryCharge()" placeholder="0.00" aria-label="Delivery charge" />
				</div>
			</div>
		</section>

		<section class="form-row md-whiteframe md-whiteframe-z1" style="padding: 12px">
			<h2 class="md-subhead" style="margin-top: 4px">What's your lead time for delivery?</h2>
			<div class="layout-row layout-align-start-center">
				<md-input-container md-no-float>
					<md-select ng-model="vm.info.delivery_lead_time" aria-label="Delivery lead time">
						<md-option ng-repeat="time in ::vm.leadTimes" ng-value="::time">{{ ::time + ' day' + (time > 1 ? 's' : '') }}</md-option>
					</md-select>
				</md-input-container>
				<p>
					An order placed on Monday could be delivered on <span ng-bind="vm.deliveryExplainations[vm.info.delivery_lead_time]"></span>
				</p>
			</div>
		</section>

		<div class="form-row form-row--with-cta">
			<md-button type="submit" class="md-primary md-raised">Save</md-button>
		</div>
	</form>
</main>
