<header class="layout-row">
	<md-button class="md-icon-button" aria-label="Back" browser-back>
		<md-icon md-svg-src="assets/images/icons/arrow-back.svg"></md-icon>
	</md-button>
	<h1 class="md-headline">Edit</h1>
</header>
<main class="layout-column layout-align-start-center">
	<form name="vm.productForm" class="layout-column layout-align-start-stretch" ng-submit="vm.saveProduct()">
		<ol class="unstyled-list form-rows">
			<li class="form-row">
				<div class="md-whiteframe md-whiteframe-z1" style="padding: 12px;">
					<div get-product-image cropping-data="vm.product.image_data"></div>
				</div>
			</li>
			<li class="form-row">
				<input class="md-whiteframe md-whiteframe-z1" ng-model="vm.product.name" placeholder="Product name" required />
			</li>
			<li class="form-row">
				<span class="label">Price</span>
				<price-fields inc-vat="vm.product.price_incvat" ex-vat="vm.product.price_exvat" allow-free="true" required="true"></price-fields>
			</li>
			<li class="form-row">
				<span class="label">Was price <span class="weak">(optional)</span></span>
				<price-fields inc-vat="vm.product.was_price_incvat" ex-vat="vm.product.was_price_exvat" required="false"></price-fields>
			</li>
			<li class="form-row">
				<label class="label">SKU Code <span class="weak">(optional)</span></label>
				<input class="md-whiteframe md-whiteframe-z1" ng-model="vm.product.sku" placeholder="A unique ID for your reference" optional />
			</li>
			<li class="form-row">
				<label class="label">Description <span class="weak">(optional)</span></label>
				<textarea class="md-whiteframe md-whiteframe-z1" rows="5" ng-model="vm.product.description" placeholder="This will be shown on the product details page" optional></textarea>
			</li>
			<li class="form-row form-row--with-cta">
				<md-button type="submit" class="md-primary md-raised">Save</md-button>
			</li>
		</ol>
	</form>
</main>
