<header class="flex layout-column layout-align-start-center" style="margin: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
	<div class="flex layout-column layout-align-center" style="text-align: center">
		<h1 class="md-headline"><img src="assets/images/orderable-logo-white.png" alt="Orderable" /></h1>
		<p class="md-subhead">Start selling today</p>
	</div>

	<div class="flex layout-column layout-align-center" style="width: 80%;">
		<md-button ng-href="register/" class="md-raised" style="display: block;width: 100%; margin: 0;">Sign me up</md-button>
	</div>
	<div class="flex layout-column layout-align-center">
		<a style="color: rgba(255,255,255,.87)" href="sign-in/">Already joined? Sign in</a>
	</div>
</header>
