<header class="splash flex layout-column">
	<div class="content-wrap flex layout-column">
		<div class="flex layout-column layout-align-center-center">
			<h1 class="md-headline"><img src="assets/images/orderable-logo-white.png" alt="Orderable" /></h1>
			<p class="md-subhead">Start selling today</p>
		</div>

		<div class="flex layout-column layout-align-center-center">
			<div class="flex layout-column layout-align-center" style="width: 80%; max-width: 320px">
				<md-button ng-href="register/" class="md-raised full-width">Sign me up</md-button>
			</div>
			<div class="flex layout-column layout-align-center">
				<a style="color: rgba(255,255,255,.87)" href="sign-in/">Already joined? Sign in</a>
			</div>
		</div>
	</div>
</header>
