<header>
	<div class="content-wrap content-wrap--narrow">
		<h1 class="md-headline">First, tell us a bit about yourself</h1>
	</div>
</header>
<main>
	<div class="content-wrap content-wrap--narrow">
		<div class="layout-column">
			<form class="layout-column layout-align-start-stretch" name="vm.registerForm" ng-submit="vm.register()">
				<ul class="unstyled-list">
					<li class="form-row">
						<input class="md-whiteframe md-whiteframe-z1" ng-model="vm.name" placeholder="Your name" required />
					</li>
					<li class="form-row">
						<input class="md-whiteframe md-whiteframe-z1" type="email" ng-model="vm.email" placeholder="Your email address" required />
					</li>
					<li class="form-row">
						<input class="md-whiteframe md-whiteframe-z1" type="password" ng-model="vm.password" placeholder="and create a password" focus-placeholder="at least 6 characters"  minlength="6" required />
					</li>
					<li class="form-row form-row--with-cta layout-gt-sm-row">
						<md-button type="submit" class="md-primary md-raised">Continue</md-button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</main>
