<header>
	<div class="content-wrap">
		<h1 class="md-headline">Sign in to Orderable</h1>
	</div>
</header>
<main>
	<div class="content-wrap">
		<div class="layout-column layout-align-start-center">
			<form class="layout-column layout-align-start-stretch" name="vm.signInForm" ng-submit="vm.signIn()">
				<ul class="unstyled-list">
					<li class="form-row">
						<input class="md-whiteframe md-whiteframe-z1" type="email" ng-model="vm.credentials.email" placeholder="email address" required />
					</li>
					<li class="form-row">
						<input class="md-whiteframe md-whiteframe-z1" type="password" ng-model="vm.credentials.password" placeholder="and password" focus-placeholder="(it's at least 6 characters)"  minlength="6" required />
					</li>
					<li class="form-row form-row--with-cta">
						<md-button type="submit" class="md-primary md-raised">Continue</md-button>
					</li>
				</ul>
			</form>
			<a style="margin-top: 40px" href="register/">Not a member yet? Register for free</a>
		</div>
	</div>
</main>
